generated_plugin_registrant.dart

# Visual Studio Code related
*.code-workspace

# exclude coverage folder
coverage/
merged.info
lcov.info

fastlane/README.md
fastlane/report.xml
fastlane/.env
*/fastlane/report.xml

Gemfile.lock

*.project
*.classpath
*.settings

*.env

.DS_Store
.dart_tool/

.packages
.pub/

.idea/
.vagrant/
.sconsign.dblite
.svn/
*.iml

*.swp
profile

DerivedData/

.generated/

**/failures/*.png

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*mocks.dart
*.g.dart

*.pyc
*sync/
.tags*

build/
.android/
.ios/
.flutter-plugins
.flutter-plugins-dependencies

# Symbolication related
**/app.*.symbols
**/obfuscation-map.json

# Obfuscation related
app.*.map.json
package-lock.json
package.json

src/pubspec.lock
src/android/gradlew
src/android/gradlew.bat
src/android/local.properties
src/android/.gradle/
src/android/.gradle/*.*
src/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
src/android/gradle/wrapper/gradle-wrapper.jar
src/ios/Flutter/flutter_export_environment.sh
src/ios/Flutter/Generated.xcconfig
src/ios/Runner/GeneratedPluginRegistrant.h
src/ios/Runner/GeneratedPluginRegistrant.m
/.fvm/flutter_sdk

**/pubspec.lock
/packages/webviewx/example/ios/Podfile
